:root {
  --logo-width: 17rem;
  --default-transition-time: 0.3s;
  --default-horizontal-linear-gradient: linear-gradient(to top right, #FFC593, #bc7198, #5a77ff);
  --default-vertical-linear-gradient: linear-gradient(to bottom left, #5a77ff, #bc7198 70%, #FFC593);
  /** LAYOUT SIZES **/
  --header-height: 7.2rem;
  /** COLORS **/
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-grey: hsl(0, 0%, 87%); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

img, picture {
  display: block; }

button {
  line-height: 1;
  padding-inline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit; }

.main-container {
  min-height: 100vh;
  margin: 0 auto; }

.black-box {
  background-color: var(--black);
  color: var(--white); }

.white-box {
  background-color: var(--white);
  color: var(--black); }

.white-box, .black-box {
  padding: 0 3rem; }
  .white-box .text-box-content, .black-box .text-box-content {
    display: grid;
    row-gap: 2rem;
    padding: 7rem 0; }

.content-with-gradient {
  position: relative; }

.content-with-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12.8rem;
  height: 0.6rem;
  background-image: var(--default-horizontal-linear-gradient); }

@media only screen and (min-width: 48rem) {
  .white-box, .black-box {
    padding: 8rem 0; }
    .white-box .text-box-content, .black-box .text-box-content {
      grid-template-columns: 78%;
      justify-content: center;
      padding: 0; }

  .content-with-gradient::before {
    width: 0.6rem;
    height: 100%;
    background-image: var(--default-vertical-linear-gradient); } }
/**
 * A flex container with elements that are both horizontally and vertically centered.
 */
/**
 * A flex container with elements that are vertically centered and
 * horizontally spaced between
 */
/**
 * A flex container with elements that are vertically centered.
 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem; }

.button--1 {
  background-color: var(--black);
  color: var(--white); }

.button--1:hover {
  background-color: var(--light-grey);
  color: var(--black); }

.link:hover {
  opacity: 0.3; }

.arrow-button {
  display: flex;
  align-items: center;
  column-gap: 1.5rem; }

.arrow-button span {
  border-bottom: 1px solid transparent; }
.arrow-button span:hover {
  border-bottom: 1px solid currentColor; }
.arrow-button svg g {
  stroke: currentColor; }

.heading-2 {
  font-size: 3.2rem;
  letter-spacing: 3.33px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1; }

.default-paragraph {
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 1.6; }

.arrow-button {
  letter-spacing: 2px; }

.button, .arrow-button {
  text-transform: uppercase;
  font-weight: 700; }

@media only screen and (min-width: 48rem) {
  .heading-2 {
    font-size: 4rem; } }
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 2.5rem; }
  .main-header .logo {
    width: var(--logo-width);
    height: 1.6rem; }
  .main-header .showhide-buttons .close-menu {
    display: none; }
  .main-header .header__nav {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity var(--default-transition-time); }
    .main-header .header__nav .nav-invite--container {
      display: grid;
      grid-template-columns: minmax(auto, 31rem);
      justify-content: center;
      row-gap: 2rem;
      background-color: var(--white);
      padding: 4rem 1rem; }
      .main-header .header__nav .nav-invite--container ul {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--light-grey); }
        .main-header .header__nav .nav-invite--container ul li a {
          letter-spacing: 2.5px;
          font-weight: 700;
          text-transform: uppercase; }
      .main-header .header__nav .nav-invite--container .button--1 {
        height: 4.8rem; }
      .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
        font-size: 1.5rem; }
  .main-header .header__nav.header__nav--display {
    display: block; }
  @media only screen and (min-width: 48rem) {
    .main-header {
      display: grid;
      grid-template-columns: var(--logo-width) 1fr;
      padding: 0 4rem; }
      .main-header .showhide-buttons {
        display: none; }
      .main-header .header__nav {
        display: block;
        position: static;
        opacity: 1;
        transition: none;
        width: auto;
        height: auto;
        background-color: transparent; }
        .main-header .header__nav .nav-invite--container {
          grid-template-columns: 1fr var(--logo-width);
          row-gap: 0;
          padding: 0;
          background-color: transparent; }
          .main-header .header__nav .nav-invite--container ul {
            align-items: center;
            flex-direction: row;
            row-gap: 0rem;
            column-gap: 2.5rem;
            padding-bottom: 0;
            border-bottom: none;
            justify-self: center; }
          .main-header .header__nav .nav-invite--container .button--1 {
            height: 4rem;
            padding: 0 3rem;
            justify-self: end; }
          .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
            font-size: 1.2rem; } }

.main-header.header__nav--fade-in .showhide-buttons .open-menu {
  display: none; }
.main-header.header__nav--fade-in .showhide-buttons .close-menu {
  display: block; }
.main-header.header__nav--fade-in .header__nav {
  opacity: 1; }

.home-content .arrow-button {
  font-size: 1.2rem; }
.home-content picture img {
  width: 100%; }
@media only screen and (min-width: 48rem) {
  .home-content {
    --percentage-image: 35.5%; }
    .home-content .picture-text-box {
      display: grid;
      grid-template-areas: "text image"; }
    .home-content .picture-text-box--even {
      grid-template-columns: 1fr var(--percentage-image); }
      .home-content .picture-text-box--even picture {
        grid-area: image; }
      .home-content .picture-text-box--even .black-box, .home-content .picture-text-box--even .white-box {
        grid-area: text; } }

/*# sourceMappingURL=styles.css.map */
