:root {
  --logo-width: 17rem;
  --default-transition-time: 0.3s;
  --common-horizontal-padding: 3rem;
  /** COLORS **/
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-grey: hsl(0, 0%, 87%);
  --grey: hsl(0, 0%, 96%);
  --gradient-orange: #FFC593;
  --gradient-purple: #BC7198;
  --gradient-blue: #5A77FF;
  --default-horizontal-linear-gradient: linear-gradient(to top right,
      var(--gradient-orange), var(--gradient-purple), var(--gradient-blue));
  --default-vertical-linear-gradient: linear-gradient(to bottom left, var(--gradient-blue), var(--gradient-purple) 70%, var(--gradient-orange)); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

img, picture {
  display: block; }

button {
  line-height: 1;
  padding-inline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit; }

.main-container {
  min-height: 100vh;
  max-width: 170rem;
  margin: 0 auto;
  position: relative; }

@media only screen and (min-width: 48rem) {
  :root {
    --common-horizontal-padding: 4rem; } }
@media only screen and (min-width: 90em) {
  :root {
    --common-horizontal-padding: 17rem; } }
.logo {
  width: var(--logo-width);
  height: 1.6rem; }
  .logo img {
    width: 100%; }

.content-with-gradient {
  position: relative; }

.content-with-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12.8rem;
  height: 0.6rem;
  background-image: var(--default-horizontal-linear-gradient); }

@media only screen and (min-width: 48rem) {
  .content-with-gradient::before {
    width: 0.6rem;
    height: 100%;
    background-image: var(--default-vertical-linear-gradient); } }
/**
 * A flex container with elements that are both horizontally and vertically centered.
 */
/**
 * A flex container with elements that are vertically centered and
 * horizontally spaced between
 */
/**
 * A flex container with elements that are vertically centered.
 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem; }

.button--1 {
  background-color: var(--black);
  color: var(--white); }

.button--2 {
  background-color: var(--white);
  color: var(--black); }

.button--1:hover, .button--2:hover {
  background-color: var(--light-grey);
  color: var(--black); }

.arrow-button {
  display: flex;
  align-items: center;
  column-gap: 1.5rem; }

.arrow-button span {
  border-bottom: 1px solid transparent; }
.arrow-button svg g {
  stroke: currentColor; }

.arrow-button:hover span {
  border-bottom: 1px solid currentColor; }

.heading-2 {
  font-size: 3.2rem;
  letter-spacing: 3.33px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2; }

.heading-3 {
  font-size: 2.4rem;
  font-weight: 700; }

.heading-5 {
  font-size: 1.8rem;
  font-weight: 700; }

.heading-6 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }

.default-paragraph {
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 1.7; }

.arrow-button, .button {
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700; }

.nav-link {
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem; }

.nav-link:hover {
  opacity: 0.3; }

.story-date, .story-author {
  font-size: 1.3rem;
  font-weight: 400; }

/** GALLERY STYLES **/
.gallery-item__author {
  font-size: 1.3rem;
  font-size: 400; }

.title-gallery-item {
  font-size: 1.8rem;
  font-weight: 700; }

/********************/
@media only screen and (min-width: 48rem) {
  .heading-2 {
    font-size: 4rem; } }
.gallery {
  display: grid; }
  .gallery .gallery-item {
    display: grid;
    align-content: end;
    position: relative;
    min-height: 37.5rem;
    color: var(--white);
    z-index: 2;
    padding: 4.5rem 3rem;
    background-size: cover;
    background-position: center; }
    .gallery .gallery-item::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.6));
      z-index: -1; }
    .gallery .gallery-item .gallery-item__description {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 1rem;
      padding-bottom: 1.8rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    .gallery .gallery-item .arrow-button {
      padding-top: 1.8rem;
      justify-content: space-between;
      column-gap: 0; }
      .gallery .gallery-item .arrow-button span {
        border-bottom: none; }
    .gallery .gallery-item .arrow-button:hover span {
      border-bottom: none; }
  @media only screen and (min-width: 48rem) {
    .gallery {
      grid-template-columns: 1fr 1fr;
      overflow: hidden; }
      .gallery .gallery-item {
        min-height: 50rem; }
      .gallery .gallery-item {
        position: relative;
        transition: all var(--default-transition-time); }
      .gallery .gallery-item::before {
        content: "";
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 0.6rem;
        background-image: linear-gradient(to top right, var(--gradient-orange), var(--gradient-purple) 50%, var(--gradient-blue) 80%);
        transform: translateY(100%); }
      .gallery .gallery-item:hover {
        transform: translateY(-2rem); } }
  @media only screen and (min-width: 90em) {
    .gallery {
      grid-template-columns: repeat(4, 1fr); } }

.picture-text-box picture img {
  width: 100%; }
.picture-text-box .text-box-content {
  width: 85%;
  margin: 0 auto;
  display: grid;
  justify-items: start;
  row-gap: 2rem;
  padding: 7rem 0; }

.picture-text-box:nth-child(odd) {
  background-color: var(--black);
  color: var(--white); }

.picture-text-box:nth-child(even) {
  background-color: var(--white);
  color: var(--black); }

@media only screen and (min-width: 48rem) {
  .picture-text-box {
    --percenage-hero-images: 35.5%;
    /* The percentage of the hero images */
    display: grid;
    align-items: center; }
    .picture-text-box picture {
      grid-area: image; }
    .picture-text-box .text-box-content {
      grid-area: text;
      row-gap: 0;
      width: auto;
      margin: 0;
      padding: 0rem 6rem; }
      .picture-text-box .text-box-content .heading-2 {
        margin-bottom: 2rem; }
      .picture-text-box .text-box-content .default-paragraph {
        margin-bottom: 5rem; }

  .picture-text-box:nth-child(odd) {
    grid-template-columns: 1fr var(--percenage-hero-images);
    grid-template-areas: "text image"; }

  .picture-text-box:nth-child(even) {
    grid-template-columns: var(--percenage-hero-images) 1fr;
    grid-template-areas: "image text"; } }
@media only screen and (min-width: 90em) {
  .picture-text-box {
    --percenage-hero-images: 57.6%; }
    .picture-text-box .text-box-content {
      padding: 0rem 12rem; } }
.features-container {
  display: grid;
  row-gap: 5.5rem;
  padding: 8rem 4rem; }
  .features-container .feature {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: start;
    text-align: center; }
    .features-container .feature img {
      margin-bottom: 4rem; }
    .features-container .feature .heading-5 {
      margin-bottom: 2rem; }
  @media only screen and (min-width: 48rem) {
    .features-container {
      grid-template-columns: repeat(2, minmax(auto, 60rem));
      justify-content: space-between;
      column-gap: 1.5rem;
      row-gap: 7rem; }
      .features-container .feature {
        grid-template-columns: auto;
        grid-template-rows: 11rem auto auto; }
        .features-container .feature img {
          margin-bottom: 0; } }
  @media only screen and (min-width: 90em) {
    .features-container {
      grid-template-columns: repeat(3, minmax(auto, 50rem));
      align-items: normal;
      column-gap: 2rem;
      row-gap: 10rem;
      padding: 11.5rem 17rem; }
      .features-container .feature {
        align-items: normal; } }

.main-header .header__nav {
  display: none;
  grid-template-rows: auto auto 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity var(--default-transition-time);
  z-index: 20;
  overflow-y: scroll; }
  .main-header .header__nav .header__nav--header, .main-header .header__nav .nav-invite--container {
    background-color: var(--white); }
  .main-header .header__nav .nav-invite--container {
    display: grid;
    grid-template-columns: minmax(auto, 31rem);
    justify-content: center;
    row-gap: 2rem;
    padding: 7rem 1rem 3rem 1rem; }
    .main-header .header__nav .nav-invite--container ul {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      text-align: center;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--light-grey); }
    .main-header .header__nav .nav-invite--container .button--1 {
      height: 4.8rem; }
    .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
      font-size: 1.5rem; }
  .main-header .header__nav .header__nav_background {
    background-color: rgba(0, 0, 0, 0.5); }

/* This rule is to set the same height and horizontal padding to both the header and the header of the modal popup */
.main-header,
.main-header .header__nav .header__nav--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  padding: 0 2.5rem; }

.main-header.header__nav--display .header__nav {
  display: grid; }

.main-header.header__nav--fade-in .header__nav {
  opacity: 1; }

@media only screen and (min-width: 48rem) {
  .main-header {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    padding: 0 4rem; }
    .main-header .open-menu {
      display: none; }
    .main-header .header__nav {
      display: block;
      position: static;
      opacity: 1;
      transition: none;
      width: auto;
      height: auto;
      z-index: auto;
      overflow-y: visible; }
      .main-header .header__nav .header__nav--header {
        display: none; }
      .main-header .header__nav .nav-invite--container {
        grid-template-columns: 1fr var(--logo-width);
        row-gap: 0;
        padding: 0;
        background-color: transparent; }
        .main-header .header__nav .nav-invite--container ul {
          align-items: center;
          flex-direction: row;
          row-gap: 0rem;
          column-gap: 2.5rem;
          padding-bottom: 0;
          border-bottom: none;
          justify-self: center; }
        .main-header .header__nav .nav-invite--container .button--1 {
          height: 4rem;
          padding: 0 3rem;
          justify-self: end; }
        .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
          font-size: 1.2rem; }
      .main-header .header__nav .header__nav_background {
        display: none; } }
@media only screen and (min-width: 90em) {
  .main-header {
    padding: 0 16rem; } }
@media only screen and (min-width: 112.5em) {
  .main-header {
    padding: 0; } }
.home-content .arrow-button {
  font-size: 1.2rem; }
.home-content .gallery-item:nth-child(1) {
  background-image: url("../assets/stories/mobile/mountains.jpg"); }
.home-content .gallery-item:nth-child(2) {
  background-image: url("../assets/stories/mobile/cityscapes.jpg"); }
.home-content .gallery-item:nth-child(3) {
  background-image: url("../assets/stories/mobile/18-days-voyage.jpg"); }
.home-content .gallery-item:nth-child(4) {
  background-image: url("../assets/stories/mobile/architecturals.jpg"); }
@media only screen and (min-width: 48rem) {
  .home-content .features-container {
    grid-template-columns: 68%;
    justify-content: center; }
    .home-content .features-container .feature {
      align-items: center; } }
@media only screen and (min-width: 90em) {
  .home-content .features-container {
    grid-template-columns: repeat(3, minmax(auto, 50rem));
    align-items: normal;
    column-gap: 2rem;
    row-gap: 10rem;
    padding: 11.5rem 17rem; }
    .home-content .features-container .feature {
      align-items: normal; }
  .home-content .gallery-item:nth-child(1) {
    background-image: url("../assets/stories/desktop/mountains.jpg"); }
  .home-content .gallery-item:nth-child(2) {
    background-image: url("../assets/stories/desktop/cityscapes.jpg"); }
  .home-content .gallery-item:nth-child(3) {
    background-image: url("../assets/stories/desktop/18-days-voyage.jpg"); }
  .home-content .gallery-item:nth-child(4) {
    background-image: url("../assets/stories/desktop/architecturals.jpg"); } }

.stories-content .stories-hero::before {
  content: "";
  display: block;
  height: 83vw;
  background-image: url("../assets/stories/mobile/moon-of-appalacia.jpg");
  background-size: cover; }
.stories-content .stories-hero .stories-hero__text {
  background-color: var(--black);
  color: var(--white);
  padding: 4.5rem 3rem; }
  .stories-content .stories-hero .stories-hero__text .heading-6, .stories-content .stories-hero .stories-hero__text .heading-2, .stories-content .stories-hero .stories-hero__text .default-paragraph {
    margin-bottom: 2rem; }
  .stories-content .stories-hero .stories-hero__text .hero-details {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem; }
    .stories-content .stories-hero .stories-hero__text .hero-details .story-date {
      opacity: 0.7; }
.stories-content .gallery .gallery-item:nth-child(1) {
  background-image: url("../assets/stories/mobile/mountains.jpg"); }
.stories-content .gallery .gallery-item:nth-child(2) {
  background-image: url("../assets/stories/mobile/cityscapes.jpg"); }
.stories-content .gallery .gallery-item:nth-child(3) {
  background-image: url("../assets/stories/mobile/18-days-voyage.jpg"); }
.stories-content .gallery .gallery-item:nth-child(4) {
  background-image: url("../assets/stories/mobile/architecturals.jpg"); }
.stories-content .gallery .gallery-item:nth-child(5) {
  background-image: url("../assets/stories/mobile/world-tour.jpg"); }
.stories-content .gallery .gallery-item:nth-child(6) {
  background-image: url("../assets/stories/mobile/unforeseen-corners.jpg"); }
.stories-content .gallery .gallery-item:nth-child(7) {
  background-image: url("../assets/stories/mobile/king-on-africa.jpg"); }
.stories-content .gallery .gallery-item:nth-child(8) {
  background-image: url("../assets/stories/mobile/trip-to-nowhere.jpg"); }
.stories-content .gallery .gallery-item:nth-child(9) {
  background-image: url("../assets/stories/mobile/rage-of-the-sea.jpg"); }
.stories-content .gallery .gallery-item:nth-child(10) {
  background-image: url("../assets/stories/mobile/running-free.jpg"); }
.stories-content .gallery .gallery-item:nth-child(11) {
  background-image: url("../assets/stories/mobile/behind-the-waves.jpg"); }
.stories-content .gallery .gallery-item:nth-child(12) {
  background-image: url("../assets/stories/mobile/calm-waters.jpg"); }
.stories-content .gallery .gallery-item:nth-child(13) {
  background-image: url("../assets/stories/mobile/milky-way.jpg"); }
.stories-content .gallery .gallery-item:nth-child(14) {
  background-image: url("../assets/stories/mobile/dark-forest.jpg"); }
.stories-content .gallery .gallery-item:nth-child(15) {
  background-image: url("../assets/stories/mobile/somwarpet.jpg"); }
.stories-content .gallery .gallery-item:nth-child(16) {
  background-image: url("../assets/stories/mobile/land-of-dreams.jpg"); }
@media only screen and (min-width: 48rem) {
  .stories-content .stories-hero {
    display: flex;
    align-items: center;
    background-image: url("../assets/stories/tablet/moon-of-appalacia.jpg");
    background-size: cover;
    padding: 12rem 3rem; }
    .stories-content .stories-hero::before {
      display: none; }
    .stories-content .stories-hero .stories-hero__text {
      padding: 0;
      background-color: transparent; }
      .stories-content .stories-hero .stories-hero__text .default-paragraph {
        width: 39rem; }
  .stories-content .gallery .gallery-item:nth-child(1) {
    background-image: url("../assets/stories/desktop/mountains.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(2) {
    background-image: url("../assets/stories/desktop/cityscapes.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(3) {
    background-image: url("../assets/stories/desktop/18-days-voyage.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(4) {
    background-image: url("../assets/stories/desktop/architecturals.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(5) {
    background-image: url("../assets/stories/desktop/world-tour.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(6) {
    background-image: url("../assets/stories/desktop/unforeseen-corners.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(7) {
    background-image: url("../assets/stories/desktop/king-on-africa.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(8) {
    background-image: url("../assets/stories/desktop/trip-to-nowhere.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(9) {
    background-image: url("../assets/stories/desktop/rage-of-the-sea.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(10) {
    background-image: url("../assets/stories/desktop/running-free.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(11) {
    background-image: url("../assets/stories/desktop/behind-the-waves.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(12) {
    background-image: url("../assets/stories/desktop/calm-waters.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(13) {
    background-image: url("../assets/stories/desktop/milky-way.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(14) {
    background-image: url("../assets/stories/desktop/dark-forest.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(15) {
    background-image: url("../assets/stories/desktop/somwarpet.jpg"); }
  .stories-content .gallery .gallery-item:nth-child(16) {
    background-image: url("../assets/stories/desktop/land-of-dreams.jpg"); } }
@media only screen and (min-width: 90em) {
  .stories-content .stories-hero {
    padding: 12rem 11rem;
    background-image: linear-gradient(45deg, rgba(255, 197, 147, 0.5), rgba(188, 113, 152, 0.4) 10%, rgba(90, 119, 255, 0.01) 25%), url("../assets/stories/desktop/moon-of-appalacia.jpg"); } }

.features-content .picture-text-box--hero .text-box-content .default-paragraph {
  margin-bottom: 0; }
.features-content .beta-section {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 4.5rem var(--common-horizontal-padding);
  color: var(--white);
  background-image: url("../assets/shared/mobile/bg-beta.jpg");
  background-size: cover; }
  .features-content .beta-section::before {
    left: var(--common-horizontal-padding); }
@media only screen and (min-width: 48rem) {
  .features-content .beta-section {
    background-image: url("../assets/shared/tablet/bg-beta.jpg");
    flex-direction: row;
    justify-content: space-between;
    padding: 7.4rem var(--common-horizontal-padding); }
    .features-content .beta-section:before {
      left: 0; } }
@media only screen and (min-width: 48rem) {
  .features-content .beta-section {
    background-image: url("../assets/shared/desktop/bg-beta.jpg"); } }

.pricing-content .picture-text-box--hero .text-box-content .default-paragraph {
  margin-bottom: 0; }
.pricing-content .plans {
  padding-top: 6rem;
  --width-toggler-box: 6.4rem;
  --padding-toggler-box: 0.3rem;
  --width-toggler-bullet: 2.4rem;
  --horizontal-offset-black-box: calc((var(--width-toggler-box) - var(--padding-toggler-box)*2 - var(--width-toggler-bullet)) * -1); }
  .pricing-content .plans .pricing-period-selection {
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem; }
    .pricing-content .plans .pricing-period-selection .heading-5::before {
      content: attr(data-plan);
      display: block;
      font-weight: 700;
      height: 0;
      visibility: hidden; }
    .pricing-content .plans .pricing-period-selection .heading-5.yearly {
      font-weight: 400; }
    .pricing-content .plans .pricing-period-selection .pricing-toggler .toggler-box {
      cursor: pointer;
      background-color: var(--light-grey);
      width: 6.4rem;
      height: 3.2rem;
      border-radius: 200px;
      position: relative;
      overflow: hidden; }
      .pricing-content .plans .pricing-period-selection .pricing-toggler .toggler-box .black-layer {
        display: flex;
        justify-content: end;
        align-items: center;
        border-radius: 200px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0.3rem;
        transform: translateX(var(--horizontal-offset-black-box));
        transition: all var(--default-transition-time); }
        .pricing-content .plans .pricing-period-selection .pricing-toggler .toggler-box .black-layer .bullet {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
          background-color: var(--black);
          transition: all var(--default-transition-time); }
  .pricing-content .plans .plans-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .pricing-content .plans .plans-boxes .plan-box {
      display: grid;
      justify-items: center;
      padding: 5.5rem 3rem 3.7rem 3rem;
      width: 90%;
      max-width: 45rem; }
      .pricing-content .plans .plans-boxes .plan-box .heading-3 {
        margin-bottom: 2rem; }
      .pricing-content .plans .plans-boxes .plan-box .default-paragraph {
        margin-bottom: 4rem;
        text-align: center; }
      .pricing-content .plans .plans-boxes .plan-box .price-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem; }
        .pricing-content .plans .plans-boxes .plan-box .price-details .default-paragraph {
          margin-bottom: 0; }
      .pricing-content .plans .plans-boxes .plan-box .button {
        justify-self: stretch; }
    .pricing-content .plans .plans-boxes .plan-box:nth-child(odd) {
      background-color: var(--grey);
      color: var(--black); }
    .pricing-content .plans .plans-boxes .plan-box:nth-child(even) {
      background-color: var(--black);
      color: var(--white); }
    .pricing-content .plans .plans-boxes .plan-box.content-with-gradient::before {
      width: 100%; }
  .pricing-content .plans [data-yearly-data] {
    display: none; }
.pricing-content .plans.yearly .pricing-period-selection .heading-5.monthly {
  font-weight: 400; }
.pricing-content .plans.yearly .pricing-period-selection .heading-5.yearly {
  font-weight: 700; }
.pricing-content .plans.yearly .pricing-period-selection .pricing-toggler .toggler-box .black-layer {
  transform: translateX(0px);
  background-color: var(--black); }
  .pricing-content .plans.yearly .pricing-period-selection .pricing-toggler .toggler-box .black-layer .bullet {
    background-color: var(--white); }
.pricing-content .plans.yearly [data-yearly-data] {
  display: block; }
.pricing-content .plans.yearly [data-monthly-data] {
  display: none; }

.main-footer {
  display: grid;
  background-color: var(--black);
  color: var(--white);
  padding: 5.5rem 0rem;
  justify-items: center; }
  .main-footer .logo {
    display: block;
    margin-bottom: 3rem; }
  .main-footer .social-networks {
    display: flex;
    column-gap: 1.5rem;
    margin-bottom: 4.5rem; }
    .main-footer .social-networks img {
      filter: brightness(900%); }
    .main-footer .social-networks img:hover {
      filter: none; }
  .main-footer .footer__nav {
    margin-bottom: 12rem; }
    .main-footer .footer__nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem; }
  .main-footer .arrow-button {
    margin-bottom: 3.5rem; }
  .main-footer .footer__copy {
    font-size: 1.5rem;
    opacity: 0.5; }
  @media only screen and (min-width: 48rem) {
    .main-footer {
      padding: 5.5rem var(--common-horizontal-padding);
      justify-items: normal;
      align-items: center;
      justify-items: start;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "logo            invite" "nav             .     " "social          copy"; }
      .main-footer .logo {
        grid-area: logo; }
      .main-footer .arrow-button {
        grid-area: invite; }
      .main-footer .footer__nav {
        grid-area: nav;
        margin-bottom: 7rem; }
        .main-footer .footer__nav ul {
          flex-direction: row;
          gap: 3rem; }
      .main-footer .social-networks {
        grid-area: social;
        margin-bottom: 0; }
      .main-footer .footer__copy {
        grid-area: copy; }
      .main-footer .footer__copy, .main-footer .arrow-button {
        justify-self: end; }
      .main-footer .logo, .main-footer .arrow-button {
        margin-bottom: 3rem; } }
  @media only screen and (min-width: 90em) {
    .main-footer {
      padding: 5.5rem var(--common-horizontal-padding);
      align-items: start;
      column-gap: 11rem;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "logo    nav     invite" "social  nav     copy"; }
      .main-footer .footer__nav, .main-footer .logo, .main-footer .arrow-button {
        margin-bottom: 0; }
      .main-footer .footer__nav ul {
        flex-direction: column;
        gap: 2.5rem;
        align-items: start; }
      .main-footer .social-networks, .main-footer .footer__copy {
        align-self: end; } }

/*# sourceMappingURL=styles.css.map */
