:root {
  --logo-width: 17rem;
  --default-transition-time: 0.3s;
  /** COLORS **/
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-grey: hsl(0, 0%, 87%);
  --gradient-orange: #FFC593;
  --gradient-purple: #BC7198;
  --gradient-blue: #5A77FF;
  --default-horizontal-linear-gradient: linear-gradient(to top right,
      var(--gradient-orange), var(--gradient-purple), var(--gradient-blue));
  --default-vertical-linear-gradient: linear-gradient(to bottom left, var(--gradient-blue), var(--gradient-purple) 70%, var(--gradient-orange)); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

img, picture {
  display: block; }

button {
  line-height: 1;
  padding-inline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit; }

.main-container {
  min-height: 100vh;
  max-width: 170rem;
  margin: 0 auto;
  position: relative; }

.logo {
  width: var(--logo-width);
  height: 1.6rem; }
  .logo img {
    width: 100%; }

.black-box {
  background-color: var(--black);
  color: var(--white); }

.white-box {
  background-color: var(--white);
  color: var(--black); }

.white-box, .black-box {
  padding: 0 3rem; }
  .white-box .text-box-content, .black-box .text-box-content {
    display: grid;
    justify-items: start;
    row-gap: 2rem;
    padding: 7rem 0; }

.content-with-gradient {
  position: relative; }

.content-with-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12.8rem;
  height: 0.6rem;
  background-image: var(--default-horizontal-linear-gradient); }

@media only screen and (min-width: 48rem) {
  .white-box, .black-box {
    display: flex;
    align-items: center;
    padding: 0; }
    .white-box .text-box-content, .black-box .text-box-content {
      grid-template-columns: 78%;
      justify-content: center;
      padding: 0; }

  .content-with-gradient::before {
    width: 0.6rem;
    height: 100%;
    background-image: var(--default-vertical-linear-gradient); } }
@media only screen and (min-width: 90em) {
  .white-box .text-box-content, .black-box .text-box-content {
    grid-template-columns: 63%; } }
/**
 * A flex container with elements that are both horizontally and vertically centered.
 */
/**
 * A flex container with elements that are vertically centered and
 * horizontally spaced between
 */
/**
 * A flex container with elements that are vertically centered.
 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem; }

.button--1 {
  background-color: var(--black);
  color: var(--white); }

.button--1:hover {
  background-color: var(--light-grey);
  color: var(--black); }

.arrow-button {
  display: flex;
  align-items: center;
  column-gap: 1.5rem; }

.arrow-button span {
  border-bottom: 1px solid transparent; }
.arrow-button svg g {
  stroke: currentColor; }

.arrow-button:hover span {
  border-bottom: 1px solid currentColor; }

.heading-2 {
  font-size: 3.2rem;
  letter-spacing: 3.33px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2; }

.heading-5 {
  font-size: 1.8rem;
  font-weight: 700; }

.default-paragraph {
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 1.7; }

.arrow-button {
  letter-spacing: 2px;
  font-size: 1.2rem; }

.button, .arrow-button {
  text-transform: uppercase;
  font-weight: 700; }

.nav-link {
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem; }

.nav-link:hover {
  opacity: 0.3; }

/** GALLERY STYLES **/
.gallery-item__author {
  font-size: 1.3rem;
  font-size: 400; }

.title-gallery-item {
  font-size: 1.8rem;
  font-weight: 700; }

/********************/
@media only screen and (min-width: 48rem) {
  .heading-2 {
    font-size: 4rem; } }
.gallery {
  display: grid; }
  .gallery .gallery-item {
    display: grid;
    align-content: end;
    position: relative;
    min-height: 37.5rem;
    color: var(--white);
    z-index: 2;
    padding: 4.5rem 3rem;
    background-size: cover;
    background-position: center; }
    .gallery .gallery-item::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.6));
      z-index: -1; }
    .gallery .gallery-item .gallery-item__description {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 1rem;
      padding-bottom: 1.8rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    .gallery .gallery-item .arrow-button {
      padding-top: 1.8rem;
      justify-content: space-between;
      column-gap: 0; }
      .gallery .gallery-item .arrow-button span {
        border-bottom: none; }
    .gallery .gallery-item .arrow-button:hover span {
      border-bottom: none; }
  @media only screen and (min-width: 48rem) {
    .gallery {
      grid-template-columns: 1fr 1fr; }
      .gallery .gallery-item {
        min-height: 50rem; } }
  @media only screen and (min-width: 90em) {
    .gallery {
      grid-template-columns: repeat(4, 1fr); }
      .gallery .gallery-item {
        position: relative;
        transition: all var(--default-transition-time); }
      .gallery .gallery-item:hover {
        transform: translateY(-2rem); }
      .gallery .gallery-item:hover::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .6rem;
        background-image: linear-gradient(to top right, var(--gradient-orange), var(--gradient-purple) 50%, var(--gradient-blue) 80%); } }

.main-header .header__nav {
  display: none;
  grid-template-rows: auto auto 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity var(--default-transition-time);
  z-index: 20;
  overflow-y: scroll; }
  .main-header .header__nav .header__nav--header, .main-header .header__nav .nav-invite--container {
    background-color: var(--white); }
  .main-header .header__nav .nav-invite--container {
    display: grid;
    grid-template-columns: minmax(auto, 31rem);
    justify-content: center;
    row-gap: 2rem;
    padding: 7rem 1rem 3rem 1rem; }
    .main-header .header__nav .nav-invite--container ul {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      text-align: center;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--light-grey); }
    .main-header .header__nav .nav-invite--container .button--1 {
      height: 4.8rem; }
    .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
      font-size: 1.5rem; }
  .main-header .header__nav .header__nav_background {
    background-color: rgba(0, 0, 0, 0.5); }

/* This rule is to set the same height and horizontal padding to both the header and the header of the modal popup */
.main-header,
.main-header .header__nav .header__nav--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  padding: 0 2.5rem; }

.main-header.header__nav--display .header__nav {
  display: grid; }

.main-header.header__nav--fade-in .header__nav {
  opacity: 1; }

@media only screen and (min-width: 48rem) {
  .main-header {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    padding: 0 4rem; }
    .main-header .open-menu {
      display: none; }
    .main-header .header__nav {
      display: block;
      position: static;
      opacity: 1;
      transition: none;
      width: auto;
      height: auto;
      z-index: auto;
      overflow-y: visible; }
      .main-header .header__nav .header__nav--header {
        display: none; }
      .main-header .header__nav .nav-invite--container {
        grid-template-columns: 1fr var(--logo-width);
        row-gap: 0;
        padding: 0;
        background-color: transparent; }
        .main-header .header__nav .nav-invite--container ul {
          align-items: center;
          flex-direction: row;
          row-gap: 0rem;
          column-gap: 2.5rem;
          padding-bottom: 0;
          border-bottom: none;
          justify-self: center; }
        .main-header .header__nav .nav-invite--container .button--1 {
          height: 4rem;
          padding: 0 3rem;
          justify-self: end; }
        .main-header .header__nav .nav-invite--container ul, .main-header .header__nav .nav-invite--container .button--1 {
          font-size: 1.2rem; }
      .main-header .header__nav .header__nav_background {
        display: none; } }
@media only screen and (min-width: 112.5em) {
  .main-header {
    padding: 0; } }
.home-content .arrow-button {
  font-size: 1.2rem; }
.home-content picture img {
  width: 100%; }
.home-content .gallery-item:nth-child(1) {
  background-image: url("../assets/stories/mobile/mountains.jpg"); }
.home-content .gallery-item:nth-child(2) {
  background-image: url("../assets/stories/mobile/cityscapes.jpg"); }
.home-content .gallery-item:nth-child(3) {
  background-image: url("../assets/stories/mobile/18-days-voyage.jpg"); }
.home-content .gallery-item:nth-child(4) {
  background-image: url("../assets/stories/mobile/architecturals.jpg"); }
.home-content .home-features {
  display: flex;
  flex-direction: column;
  row-gap: 5.5rem;
  padding: 8rem 4rem; }
  .home-content .home-features .home-feature {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: start;
    text-align: center; }
    .home-content .home-features .home-feature img {
      margin-bottom: 4rem; }
    .home-content .home-features .home-feature .heading-5 {
      margin-bottom: 2rem; }
@media only screen and (min-width: 48rem) {
  .home-content {
    --percenage-hero-images: 35.5%;
    /* The percentage of the hero images */ }
    .home-content .picture-text-box {
      display: grid; }
      .home-content .picture-text-box picture {
        grid-area: image; }
      .home-content .picture-text-box .black-box, .home-content .picture-text-box .white-box {
        grid-area: text; }
    .home-content .picture-text-box:nth-child(odd) {
      grid-template-columns: 1fr var(--percenage-hero-images);
      grid-template-areas: "text image"; }
    .home-content .picture-text-box:nth-child(even) {
      grid-template-columns: var(--percenage-hero-images) 1fr;
      grid-template-areas: "image text"; }
    .home-content .home-features {
      align-items: center; }
      .home-content .home-features .home-feature {
        width: 65%; } }
@media only screen and (min-width: 90em) {
  .home-content {
    --percenage-hero-images: 57.6%; }
    .home-content .home-features {
      align-items: normal;
      flex-direction: row;
      row-gap: 0;
      column-gap: 4rem;
      justify-content: space-between;
      padding: 11.5rem 17rem; }
      .home-content .home-features .home-feature {
        grid-template-columns: auto;
        grid-template-rows: 11rem auto auto; }
        .home-content .home-features .home-feature img {
          margin-bottom: 0; }
    .home-content .gallery-item:nth-child(1) {
      background-image: url("../assets/stories/desktop/mountains.jpg"); }
    .home-content .gallery-item:nth-child(2) {
      background-image: url("../assets/stories/desktop/cityscapes.jpg"); }
    .home-content .gallery-item:nth-child(3) {
      background-image: url("../assets/stories/desktop/18-days-voyage.jpg"); }
    .home-content .gallery-item:nth-child(4) {
      background-image: url("../assets/stories/desktop/architecturals.jpg"); } }

.main-footer {
  display: grid;
  background-color: var(--black);
  color: var(--white);
  padding: 5.5rem 0rem;
  justify-items: center; }
  .main-footer .logo {
    display: block;
    margin-bottom: 3rem; }
  .main-footer .social-networks {
    display: flex;
    column-gap: 1.5rem;
    margin-bottom: 4.5rem; }
    .main-footer .social-networks img {
      filter: brightness(900%); }
  .main-footer .footer__nav {
    margin-bottom: 12rem; }
    .main-footer .footer__nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem; }
  .main-footer .arrow-button {
    margin-bottom: 3.5rem; }
  .main-footer .footer__copy {
    font-size: 1.5rem;
    opacity: 0.5; }
  @media only screen and (min-width: 48rem) {
    .main-footer {
      padding: 5.5rem 4rem;
      justify-items: normal;
      align-items: center;
      justify-items: start;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "logo            invite" "nav             .     " "social          copy"; }
      .main-footer .logo {
        grid-area: logo; }
      .main-footer .arrow-button {
        grid-area: invite; }
      .main-footer .footer__nav {
        grid-area: nav;
        margin-bottom: 7rem; }
        .main-footer .footer__nav ul {
          flex-direction: row;
          column-gap: 3rem; }
      .main-footer .social-networks {
        grid-area: social;
        margin-bottom: 0; }
      .main-footer .footer__copy {
        grid-area: copy; }
      .main-footer .footer__copy, .main-footer .arrow-button {
        justify-self: end; }
      .main-footer .logo, .main-footer .arrow-button {
        margin-bottom: 3rem; } }

/*# sourceMappingURL=styles.css.map */
