.main-header {

    .header__nav {
        display: none;
        grid-template-rows: auto auto 1fr;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        transition: opacity var(--default-transition-time);
        z-index: 20;
        overflow-y: scroll;

        .header__nav--header, .nav-invite--container {
            background-color: var(--white);
        }

        .nav-invite--container {
            display: grid;
            grid-template-columns: minmax(auto, 31rem);
            justify-content: center;
            row-gap: 2rem;
            padding: 7rem 1rem 3rem 1rem;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 2.5rem;
                text-align: center;
                padding-bottom: 2rem;
                border-bottom: 1px solid var(--light-grey);
            }

            .button--1 {
                height: 4.8rem;
            }

            ul, .button--1 {
                font-size: 1.5rem;
            }
        }

        .header__nav_background {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

/* This rule is to set the same height and horizontal padding to both the header and the header of the modal popup */
.main-header,
.main-header .header__nav .header__nav--header {
    @include flex-vcenter-hevently;
    height: 7.2rem;
    padding: 0 2.5rem;
}

.main-header.header__nav--display {
    .header__nav {
        display: grid;
    }
}

.main-header.header__nav--fade-in  {
    .header__nav {
        opacity: 1;
    }
}

@media only screen and (min-width: $minWidthTabletPortrait) {
    .main-header {
        display: grid;
        grid-template-columns: var(--logo-width) 1fr;
        padding: 0 4rem;

        .open-menu {
            display: none;
        }

        .header__nav {
            display: block;
            position: static;
            opacity: 1;
            transition: none;
            width: auto;
            height: auto;
            z-index: auto;
            overflow-y: visible;

            .header__nav--header {
                display: none;
            }

            .nav-invite--container {
                grid-template-columns: 1fr var(--logo-width);
                row-gap: 0;
                padding: 0;
                background-color: transparent;
                ul {
                    align-items: center;
                    flex-direction: row;
                    row-gap: 0rem;
                    column-gap: 2.5rem;
                    padding-bottom: 0;
                    border-bottom: none;
                    justify-self: center;
                }

                .button--1 {
                    height: 4rem;
                    padding: 0 3rem;
                    justify-self: end;
                }

                ul, .button--1 {
                    font-size: 1.2rem;
                }
            }

            .header__nav_background {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: $minWidthDesktop) {
    .main-header {
        padding: 0 16rem;
    }
}

@media only screen and (min-width: $minWidthBigDesktop) {
    .main-header {
        padding: 0;
    }
}
