.home-content {
    .arrow-button {
        font-size: 1.2rem;
    }

    .gallery-item:nth-child(1)::after {
        background-image: var(--background-images-gradient), url('../assets/stories/mobile/mountains.jpg');
    }

    .gallery-item:nth-child(2)::after {
        background-image: var(--background-images-gradient), url('../assets/stories/mobile/cityscapes.jpg');
    }

    .gallery-item:nth-child(3)::after {
        background-image: var(--background-images-gradient), url('../assets/stories/mobile/18-days-voyage.jpg');
    }

    .gallery-item:nth-child(4)::after {
        background-image: var(--background-images-gradient), url('../assets/stories/mobile/architecturals.jpg');
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        .features-container {
            grid-template-columns: 68%;
            justify-content: center;
            .feature {
                align-items: center;
            }
        }
    }
    
    @media only screen and (min-width: $minWidthTabletLandscape) {
        .features-container {
            @include features-tablet-landscape;
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        .gallery-item:nth-child(1)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/desktop/mountains.jpg');
        }

        .gallery-item:nth-child(2)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/desktop/cityscapes.jpg');
        }

        .gallery-item:nth-child(3)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/desktop/18-days-voyage.jpg');
        }

        .gallery-item:nth-child(4)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/desktop/architecturals.jpg');
        }
    }
}
