.home-content {
    .arrow-button {
        font-size: 1.2rem;
    }

    picture {
        img {
            width: 100%;
        }
    }

    .gallery-item:nth-child(1) {
        background-image: url('../assets/stories/mobile/mountains.jpg');
    }

    .gallery-item:nth-child(2) {
        background-image: url('../assets/stories/mobile/cityscapes.jpg');
    }

    .gallery-item:nth-child(3) {
        background-image: url('../assets/stories/mobile/18-days-voyage.jpg');
    }

    .gallery-item:nth-child(4) {
        background-image: url('../assets/stories/mobile/architecturals.jpg');
    }

    .home-features {
        display: flex;
        flex-direction: column;
        row-gap: 5.5rem;
        padding: 8rem 4rem;

        .home-feature {
            display: grid;
            justify-items: center;
            justify-content: center;
            align-content: start;
            text-align: center;
            img {
                margin-bottom: 4rem;
            }

            .heading-5 {
                margin-bottom: 2rem;
            }
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        --percenage-hero-images: 35.5%; /* The percentage of the hero images */

        .picture-text-box {
            display: grid;
            picture {
                grid-area: image;
            }

            .black-box, .white-box {
                grid-area: text;
            }
        }

        .picture-text-box:nth-child(odd) {
            grid-template-columns: 1fr var(--percenage-hero-images);
            grid-template-areas: "text image";
        }

        .picture-text-box:nth-child(even) {
            grid-template-columns: var(--percenage-hero-images) 1fr;
            grid-template-areas: "image text";
        }
        
        .home-features {
            .home-feature {
                grid-template-columns: 65%;
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        --percenage-hero-images: 57.6%;

        .home-features {
            flex-direction: row;
            row-gap: 0;
            column-gap: 4rem;
            justify-content: space-between;
            padding: 11.5rem 17rem;
            
            .home-feature {
                grid-template-columns: auto;
                grid-template-rows: 11rem auto auto;
                img {
                    margin-bottom: 0;
                }
            }
        }

        .gallery-item:nth-child(1) {
            background-image: url('../assets/stories/desktop/mountains.jpg');
        }

        .gallery-item:nth-child(2) {
            background-image: url('../assets/stories/desktop/cityscapes.jpg');
        }

        .gallery-item:nth-child(3) {
            background-image: url('../assets/stories/desktop/18-days-voyage.jpg');
        }

        .gallery-item:nth-child(4) {
            background-image: url('../assets/stories/desktop/architecturals.jpg');
        }
    }
}
