.stories-content {
    .stories-hero {
        &::before {
            content: "";
            display: block;
            height: 83vw;
            background-image: url('../assets/stories/mobile/moon-of-appalacia.jpg');
            background-size: cover;
        }

        .stories-hero__text {
            background-color: var(--black);
            color: var(--white);
            padding: 4.5rem 3rem;

            .heading-6, .heading-2, .default-paragraph {
                margin-bottom: 2rem;
            }

            .hero-details {
                display: flex;
                gap: 1rem;
                margin-bottom: 3rem;
                .story-date {
                    opacity: 0.7;
                }
            }
        }
    }

    .gallery {
        .gallery-item:nth-child(1)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/mountains.jpg');
        }
        .gallery-item:nth-child(2)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/cityscapes.jpg');
        }
        .gallery-item:nth-child(3)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/18-days-voyage.jpg');
        }
        .gallery-item:nth-child(4)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/architecturals.jpg');
        }
        .gallery-item:nth-child(5)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/world-tour.jpg');
        }
        .gallery-item:nth-child(6)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/unforeseen-corners.jpg');
        }
        .gallery-item:nth-child(7)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/king-on-africa.jpg');
        }
        .gallery-item:nth-child(8)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/trip-to-nowhere.jpg');
        }
        .gallery-item:nth-child(9)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/rage-of-the-sea.jpg');
        }
        .gallery-item:nth-child(10)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/running-free.jpg');
        }
        .gallery-item:nth-child(11)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/behind-the-waves.jpg');
        }
        .gallery-item:nth-child(12)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/calm-waters.jpg');
        }
        .gallery-item:nth-child(13)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/milky-way.jpg');
        }
        .gallery-item:nth-child(14)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/dark-forest.jpg');
        }
        .gallery-item:nth-child(15)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/somwarpet.jpg');
        }
        .gallery-item:nth-child(16)::after {
            background-image: var(--background-images-gradient), url('../assets/stories/mobile/land-of-dreams.jpg');
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        .stories-hero {
            display: flex;
            align-items: center;
            background-image: url('../assets/stories/tablet/moon-of-appalacia.jpg');
            background-size: cover;
            padding: 12rem 3rem;

            &::before {
                display: none;
            }
            .stories-hero__text {
                padding: 0;
                background-color: transparent;
                .default-paragraph {
                    width: 39rem;
                }
            }
        }

        .gallery {
            .gallery-item:nth-child(1)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/mountains.jpg');
            }
            .gallery-item:nth-child(2)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/cityscapes.jpg');
            }
            .gallery-item:nth-child(3)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/18-days-voyage.jpg');
            }
            .gallery-item:nth-child(4)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/architecturals.jpg');
            }
            .gallery-item:nth-child(5)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/world-tour.jpg');
            }
            .gallery-item:nth-child(6)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/unforeseen-corners.jpg');
            }
            .gallery-item:nth-child(7)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/king-on-africa.jpg');
            }
            .gallery-item:nth-child(8)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/trip-to-nowhere.jpg');
            }
            .gallery-item:nth-child(9)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/rage-of-the-sea.jpg');
            }
            .gallery-item:nth-child(10)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/running-free.jpg');
            }
            .gallery-item:nth-child(11)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/behind-the-waves.jpg');
            }
            .gallery-item:nth-child(12)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/calm-waters.jpg');
            }
            .gallery-item:nth-child(13)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/milky-way.jpg');
            }
            .gallery-item:nth-child(14)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/dark-forest.jpg');
            }
            .gallery-item:nth-child(15)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/somwarpet.jpg');
            }
            .gallery-item:nth-child(16)::after {
                background-image: var(--background-images-gradient), url('../assets/stories/desktop/land-of-dreams.jpg');
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        .stories-hero {
            padding: 12rem 11rem;
            background-image: linear-gradient(45deg, rgba(255, 197, 147, 0.5), rgba(188, 113, 152, 0.4) 10%, rgba(90, 119, 255, 0.01) 25%), url("../assets/stories/desktop/moon-of-appalacia.jpg");
        }
    }
}
