.button {
    @include flex-vcenter-hcenter;
    height: 4rem;
}

.button--1 {
    background-color: var(--black);
    color: var(--white);
}

.button--1:hover {
    background-color: var(--light-grey);
    color: var(--black);
}

.arrow-button {
    @include flex-vcenter;
    column-gap: 1.5rem;
}

.arrow-button {
    span {
        border-bottom: 1px solid transparent;
    }

    svg {
        g {
            stroke: currentColor;
        }
    }
}

.arrow-button:hover span {
    border-bottom: 1px solid currentColor;
}
