@mixin features-tablet-landscape {
    grid-template-columns: repeat(3, auto);
    align-items: normal;
    column-gap: 2.9rem;
    row-gap: 10rem;
    padding: 7rem 3rem;
    .feature {
        align-items: normal;
    }
}

@mixin features-desktop {
    padding: 11.5rem 17rem;
}

.features-container {
    display: grid;
    row-gap: 5.5rem;
    padding: 8rem 4rem;

    .feature {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        text-align: center;
        picture {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-bottom: 4rem;
        }

        .heading-5 {
            margin-bottom: 2rem;
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        column-gap: 1.5rem;
        row-gap: 7rem;

        .feature {
            picture {
                height: 12.5rem;
                margin-bottom: 0;
                align-items: center;
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        @include features-tablet-landscape;
        @include features-desktop;
    }
}

