@mixin features-desktop {
    grid-template-columns: repeat(3, minmax(auto, 50rem));
    align-items: normal;
    column-gap: 2rem;
    row-gap: 10rem;
    padding: 11.5rem 17rem;
    .feature {
        align-items: normal;
    }
}

.features-container {
    display: grid;
    row-gap: 5.5rem;
    padding: 8rem 4rem;

    .feature {
        display: grid;
        justify-items: center;
        justify-content: center;
        align-content: start;
        text-align: center;
        img {
            margin-bottom: 4rem;
        }

        .heading-5 {
            margin-bottom: 2rem;
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        grid-template-columns: repeat(2, minmax(auto, 60rem));
        justify-content: space-between;
        column-gap: 1.5rem;
        row-gap: 7rem;

        .feature {
            grid-template-columns: auto;
            grid-template-rows: 11rem auto auto;
            img {
                margin-bottom: 0;
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        @include features-desktop;
    }
}

