.gallery {
    display: grid;
    .gallery-item {
        display: grid;
        align-content: end;
        position: relative;
        min-height: 37.5rem;
        color: var(--white);
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.1);
            z-index: -1;
        }

        .gallery-item__description {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        .gallery-item {
            min-height: 50rem;
        }
    }
}
